@font-face {
  font-family: STARWARS;
  src: url("STARWARS.eot");
}

body {
    /*background-color: #455566;*/
	background-image: url("images/starwars_bg.jpg");
} 
#starwarsLogo {margin-left:auto; margin-right:auto; display:block;}

h1, h2 {
    font-family: "STARWARS";
	color:  #FFE81F;
} 
p {
    font-family: "STARWARS";
	color:  white;
	margin-top: 20;
	margin-bottom: 20;
} 

ul {
	list-style: none;
	display: block;
	width: 75%;
	margin: 0 auto;
}

ul li {
	float: left;
	padding: 0 5% 5% 0;
}

ul li img {
	float: left;
}

ul li span {
	display: block;
	text-align: center;
}

input[type="checkbox"], input[type="submit"] {
	display: block;
	clear: both;
	margin: 0 auto;
}

